<div class="input-box">
    <input type="text" name="titulo" required value="<%=artigo.titulo  %>">
    <label for="titulo">Titulo</label>
</div> 
<div class="input-box">
    <input type="text" name="descricao" required value="<%=artigo.descricao  %>">
    <label for="descricao">Descricao</label>
</div>
<div class="input-box">
    <textarea name="markdown" required value="<%=artigo.markdown%>"></textarea>
    <label for="markdown">Markdown</label>
</div>

<button type="submit">Criar</button>
<a href="/">Voltar</a>