* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.conteiner {
    width: 80%;
    margin: 0 auto;
    padding: 60px
}

.conteiner p{
    color: darkgray;
}

.post-content{
    margin-top: 20px;
}

.post-content p:nth-child(1){
    font-size: 20px;
    font-family: sans-serif;
}

.post-content p{
    font-size: 25px;
    color: black;
    font-family: 'Oregano', cursive;
}

.actions{
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    align-items: center;
    margin-top: 20px;
}

.edit {
    /* dps apagar */
    max-width: 200px;
    padding: 10px;
    display: flex;
    border: none;
    outline: none;
    background-color: #ffba08;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.back {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #d00000;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: .3s;
}

.back:hover {
    background-color: #9d0208;
}